<div class="devise-form-wrapper">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'devise-form' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h3 class="devise-header">Edit <%= resource_name.to_s.humanize %></h3>

    <div class="field">
      <%= f.label :email, class:'devise-label' %>
      <%= f.email_field :email, autofocus: true, class: "devise-input", autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, class:'devise-label' %>
      <%= f.password_field :password, class: "devise-input", autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class:'devise-label' %>
      <%= f.password_field :password_confirmation, class: "devise-input", autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password, class:'devise-label' %>
      <%= f.password_field :current_password, class: "devise-input", autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class:'devise-update-button' %>
    </div>
    
    <div class="devise-button-group">
      <button type="button" class="devise-extra-button" onclick="document.getElementById('real-cancel-button').click();">Cancel my account</button>

      <%= button_to "Back", root_path, class: 'devise-extra-button' %>
    </div>
  <% end %>

  <%= button_to "", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, id: "real-cancel-button", class:'d-none', method: :delete %>
</div>
