<div class="container">
  <h3 class="text-center"><%=t('menu.new_despesa')%></h1>
  <div class="border p-4">
    <%= form_with(model: despesa, local: true, class: 'needs-validation') do |form| %>
      <% if despesa.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2><%= pluralize(despesa.errors.count, "error") %> prohibited this despesa from being saved:</h2>

          <ul>
            <% despesa.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="border p-4">
        <div class="form-group fields">
          <div class="row">
            <div class="col-md-12">
              <%= form.label :descricao %>
              <%= form.text_field :descricao, name: "despesa[descricao][]", class: 'form-control', required: true %>
            </div>
            <div class="col-md-6">
              <%= form.label :valor %>
              <%= form.text_field :valor, name: "despesa[valor][]", class: 'form-control', required: true %>
            </div>
            <div class="col-md-6">
              <%= form.label :date %>
              <%= form.date_field :date, name: "despesa[date][]", class: 'form-control', required: false %>
            </div>
            <div class="col-md-6 mt-2">
              <div class="form-check">
                <%= form.check_box :repeating, name: "despesa[repeating][]", class: 'form-check-input' %>
                <%= form.label :repetir, class: 'form-check-label' %>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-danger remove-button mt-2">Remove</button>
          <hr>
        </div>
      </div>
        <%= form.label :categoria %>
        <%= form.select(:categoria_id, Categoria.all.map { |c| [c.name.capitalize, c.id] }, {}, class: 'form-control', required: true) %>
      </div>
      <hr>
    </div>

    <button type="button" id="add-descricao" class="btn btn-secondary mt-2">Add Spending</button>
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', despesas_path, class: 'btn btn-default' %>

    <% end %>
  </div>
</div>
