
<% if @despesas.blank? %>

<div class="alert alert-warning" role="alert">
  <% unless user_signed_in? %>
    Log in to see your spendings!
  <% else %>
    You don't have any spendings this month!
  <% end %>
</div>

<% else %>

<br>
<div class="container">
  <h3 class="text-center">Despesas</h3>
  <div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filtros
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Option 1</a>
    <a class="dropdown-item" href="#">Option 2</a>
  </div>
</div>

<%= link_to export_to_json_despesas_path(format: :json), class: "btn btn-primary" do %>
  <i class="fas fa-file-export"></i> Export to JSON
<% end %>

<%= render 'import_modal' %>

  <div class="row">
    <% prev_mes = nil %>
    <% @despesas_grouped.each do |month, despesas| %>
      <% despesas.group_by(&:categoria_id).each do |categoria_id, despesas| %>
      <div class="col-md-12">
        <% if prev_mes != month %>
          <% if prev_mes.present? %>
          <h4 class="text-center" style="margin-top: 10px;">Total: <%=Despesa.total_spendings_current_month_from_user(current_user.id, despesas.first.date - 1.month)%></h3>
          <% end %>
          <% prev_mes = month %>
          <hr style="height:1px;border:none;color:#333;background-color:#333;">
          <h4 class="text-center"><%=month%>
            <i class="fas fa-chevron-down toggle-month" data-month="<%= month %>"></i>
          </h4>
        <% end %>
        <div class="panel panel-primary bg-1" data-month="<%= month %>">
          <div class="panel-heading">
            <h3 class="panel-title">
            <%= I18n.t("despesa.descriptions.#{Categoria.find_by(id: categoria_id).name.downcase}", 
                        default: Categoria.find_by(id: categoria_id).name) %> 
              <!-- 
              <i class="fas fa-calendar-alt"></i>
              <span class="month"> <%= despesas.first.mes%></span>
              -->
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 ml-3">
                <p style=""><strong><%=t('attributes.description')%></strong>
              </div>
              <div class="col-md-3">
                <p style=""><strong><%=t('attributes.value')%></strong>
              </div>
              <div class="col-md-3">
                <p style=""><strong><%=t('attributes.date')%></strong>
              </div>
            </div>
          </div>
          <% despesas.each do |despesa| %>
            <div class="panel-body <%= 'panel-highlight animated-text' if despesa == @newest_record %>">
              <div class="row">
                <div class="col-md-3">
                  <span class="panel-body-font ml-3" id="despesa-<%= despesa.id %>-descricao"><%= despesa.descricao %></span>
                  <input
                    type="text"
                    class="form-control edit-descricao-input"
                    data-despesa-id="<%= despesa.id %>"
                    value="<%= despesa.descricao %>"
                    style="display: none;"
                  >
                </div>
                <div class="col-md-3">

                  <span class="panel-body-font" id="despesa-<%= despesa.id %>-valor"><%= formatted_decimal(despesa.valor) %></span>
                  <input
                    type="text"
                    class="form-control edit-valor-input"
                    data-despesa-id="<%= despesa.id %>"
                    value="<%= formatted_decimal(despesa.valor) %>"
                    style="display: none;"
                  >
                </div>
                <div class="col-md-3">
                  <p class="panel-body-font"><%= formatted_date(despesa.date) %></p>
                </div>
                <div class="col-md-3 text-center">
                  <%#= link_to 'Show', despesa, class: 'btn btn-sm btn-info' %>
                  <button class="btn btn-sm btn-success update-valor-btn" data-despesa-id="<%= despesa.id %>" style="display: none;">
                    <i class="fas fa-check"></i>
                  </button>
                  <button class="btn btn-sm btn-info edit-valor-btn" data-despesa-id="<%= despesa.id %>">Edit</button>
                  <%#= link_to 'Edit', edit_despesa_path(despesa), class: 'btn btn-sm btn-primary' %>
                  <%= link_to 'Delete', despesa, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3"><b class="panel-body-font ml-3">Total: </b></div>
              <div class="col-md-3">
                <b class="panel-body-font"><%= formatted_decimal(despesas.sum(&:valor)) %></b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<h3 class="total-spent text-center" style="margin-top: 10px;">Total: <%=formatted_decimal(@total) %>
  <span style="<%=positive_negative_style(@difference)%>">
    <% if @difference.positive? %>
      <i class="fa-solid fa-arrow-up" style="color: #f41a1a;"></i>
    <% else %>
      <i class="fa-solid fa-arrow-down" style="color: #16c533;"></i>
    <% end %>
    <%= sprintf("%+.2f", @difference)%> compared to last month
  </span>
</h3>

<br>

<% end %>

<%= link_to new_despesa_path, class: 'btn btn-success spendings-button' do %>
  <%=t('menu.new_despesa')%> <i class="fas fa-plus"></i>
<% end %>

<div id="edit-form-container" style="display: none;">
  <%= render partial: 'edit_form', locals: { despesa: Despesa.first } %>
</div>

<%= stylesheet_link_tag 'index', media: 'all' %>

<%= javascript_pack_tag 'index', defer: true %>

