<div class="container">

  <% if @despesas.blank? %>

  <div class="alert alert-warning mt-1" role="alert">
    <% unless user_signed_in? %>
      <%= link_to "Log in", new_user_session_path %> to see your expenses!
    <% else %>
      You don't have any expenses!
    <% end %>
  </div>

  <% else %>

  <br>

  <div class="d-none current_month_year" data-current-month-year="<%= @presenter.current_month_year %>"></div>

  <%= render 'despesas/filter_and_export' %>

  <%= render 'despesas_by_year', presenter: @presenter %>

  <%= render 'total_spent_display', presenter: @presenter %>

  <%= render 'delayed_jobs_panel', presenter: @presenter %>

  <% end %>

  <% if user_signed_in? %>
    <%= link_to new_despesa_path, class: 'btn btn-success spendings-button' do %>
      <%=t('menu.new_despesas')%> <i class="fas fa-plus"></i>
    <% end %>
  <% end %>

</div>

<%= stylesheet_link_tag 'index', media: 'all' %>
<%= javascript_pack_tag 'index', defer: true %>

