
<% if @despesas.blank? %>

<div class="alert alert-warning" role="alert">
  <% unless user_signed_in? %>
    Log in to see your spendings!
  <% else %>
    You don't have any spendings this month!
  <% end %>
</div>

<% else %>

<br>
<div class="container">
  <h3 class="text-center">Despesas</h3>
  <div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filtros
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Option 1</a>
    <a class="dropdown-item" href="#">Option 2</a>
    <a class="dropdown-item" href="#">Option 3</a>
    <!-- Add more options here -->
  </div>
</div>
  <%= link_to "Export JSON", export_to_json_despesas_path(format: :json), class: "btn btn-primary" %>
  <%= link_to "Import JSON", export_to_json_despesas_path(format: :json), class: "btn btn-success" %>
  <div class="row">
    <% prev_mes = nil %>
    <% @despesas_grouped.each do |month, despesas| %>
      <% despesas.group_by(&:categoria_id).each do |categoria_id, despesas| %>
      <div class="col-md-12">
        <% if prev_mes != month %>
          <% if prev_mes.present? %>
          <h4 class="text-center" style="margin-top: 10px;">Total: <%=Despesa.total_spendings_current_month_from_user(current_user.id, despesas.first.date - 1.month)%></h3>
          <% end %>
          <% prev_mes = month %>
          <hr style="height:1px;border:none;color:#333;background-color:#333;">
          <h4 class="text-center"><%=month%>
            <i class="fas fa-chevron-down toggle-month" data-month="<%= month %>"></i>
          </h4>
        <% end %>
        <div class="panel panel-primary" style="background-color: #f7f7f7;" data-month="<%= month %>">
          <div class="panel-heading">
            <h3 class="panel-title"><%= Categoria.find_by(id: categoria_id).name %> 
              <i class="fas fa-calendar-alt"></i>
              <span class="month"> <%= despesas.first.mes%></span>
            </h3>
          </div>
          <% despesas.each do |despesa| %>
            <div class="panel-body <%= 'panel-highlight' if despesa == @newest_record %>">
              <div class="row">
                <div class="col-md-4">
                  <p style="line-height: 30px;"><strong>Descrição:</strong> <%= despesa.descricao %></p>
                </div>
                <div class="col-md-4">
                  <p style="line-height: 30px;"><strong>Valor:</strong> <%= number_with_precision(despesa.valor, precision: 2) %></p>
                </div>
                <div class="col-md-4">
                  <%= link_to 'Show', despesa, class: 'btn btn-sm btn-info' %>
                  <%= link_to 'Edit', edit_despesa_path(despesa), class: 'btn btn-sm btn-primary' %>
                  <%= link_to 'Destroy', despesa, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <b>Total: <%= despesas.sum(&:valor) %></b>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<h3 class="total-spent" style="margin-top: 10px;">Total Spent This Month: <%=@total%>
  <span style="<%=positive_negative_style(@difference)%>">
    <% if @difference.positive? %>
      <i class="fa-solid fa-arrow-up" style="color: #f41a1a;"></i>
    <% else %>
      <i class="fa-solid fa-arrow-down" style="color: #16c533;"></i>
    <% end %>
    <%= sprintf("%+.2f", @difference)%> compared to last month
  </span>
</h3>

<br>

<% end %>

<%= link_to new_despesa_path, class: 'btn btn-success spendings-button' do %>
  New Spending <i class="fas fa-plus"></i>
<% end %>

<div id="edit-form-container" style="display: none;">
  <%= render partial: 'edit_form', locals: { despesa: Despesa.first } %>
</div>

