
<% if @despesas.blank? %>

<div class="alert alert-warning" role="alert">
  <% unless user_signed_in? %>
    Log in to see your spendings!
  <% else %>
    You don't have any spendings this month!
  <% end %>
</div>

<% else %>

<br>
<h3>Last Month Spendings</h3>

<table class="table">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Descricao</th>
      <th>Valor</th>
      <th>Mes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @despesas.each do |despesa| %>
      <tr>
        <td><%= despesa.categoria&.name %></td>
        <td><%= despesa.descricao %></td>
        <td><%= despesa.valor %></td>
        <td><%= despesa.mes %></td>
        <td><%= link_to 'Show', despesa %></td>
        <td><%= link_to 'Edit', edit_despesa_path(despesa) %></td>
        <td><%= link_to 'Destroy', despesa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="total-spent">Total Spent This Month: <%=@total%> 
  <span style=<%=positive_negative_style(@difference)%>>
    <%= sprintf("%+.2f", @difference)%> compared to last month
  </span>
</h3>

<br>

<% end %>

<%= link_to new_despesa_path, class: 'btn btn-success spendings-button' do %>
  New Spending <i class="fas fa-plus"></i>
<% end %>

