
<% if @despesas.blank? %>

<div class="alert alert-warning" role="alert">
  <% unless user_signed_in? %>
    Log in to see your spendings!
  <% else %>
    You don't have any spendings this month!
  <% end %>
</div>

<% else %>

<br>
<div class="container">
  <h3 class="text-center">Despesas</h3>
  <div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filtros
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Option 1</a>
    <a class="dropdown-item" href="#">Option 2</a>
  </div>
</div>

<%= link_to export_to_json_despesas_path(format: :json), class: "btn btn-primary" do %>
  <i class="fas fa-file-export"></i> Export to JSON
<% end %>

<%= render 'import_modal' %>

  <div class="row">
    <% prev_mes = nil %>
    <% @despesas_grouped.each do |month, despesas| %>
      <% despesas.group_by(&:categoria_id).each do |categoria_id, despesas| %>
      <div class="col-md-12" data-month="<%= month %>">
        <% if prev_mes != month %>
          <% if prev_mes.present? %>
          <h4 class="text-center total-month" style="margin-top: 10px;">Total: <%=Despesa.total_spendings_current_month_from_user(current_user.id, despesas.first.date - 1.month)%></h4>
          <% end %>
          <% prev_mes = month %>
          <hr style="height:1px;border:none;color:#333;background-color:#333;">
          <h4 class="text-center"><%=month%>
            <i class="fas fa-chevron-down toggle-month" data-month="<%= month %>"></i>
          </h4>
        <% end %>
        <div class="panel panel-primary bg-2" data-month="<%= month %>">
          <div class="panel-heading">
            <h4 class="panel-title" style="color: white;">
            <%= I18n.t("despesa.descriptions.#{Categoria.find_by(id: categoria_id).name.downcase}", 
                        default: Categoria.find_by(id: categoria_id).name) %> 
              <!-- 
              <i class="fas fa-calendar-alt"></i>
              <span class="month"> <%= despesas.first.mes%></span>
              -->
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 mb-2 ml-3">
                <strong><%=t('attributes.description')%></strong>
              </div>
              <div class="col-md-3">
                <strong><%=t('attributes.value')%></strong>
              </div>
              <div class="col-md-3">
                <strong><%=t('attributes.date')%></strong>
              </div>
            </div>
          </div>
          <% despesas.each do |despesa| %>
            <div class="panel-body <%= 'panel-highlight animated-text' if despesa == @newest_record %>">
              <div class="row">
                <div class="col-md-3 edit-valor-btn" data-despesa-id="<%= despesa.id %>">
                  <span class="panel-body-font ml-3" id="despesa-<%= despesa.id %>-descricao"><%= despesa.descricao %></span>
                  <input
                    type="text"
                    class="form-control edit-descricao-input"
                    data-despesa-id="<%= despesa.id %>"
                    value="<%= despesa.descricao %>"
                    style="display: none;"
                  >
                </div>
                <div class="col-md-3 edit-valor-btn" data-despesa-id="<%= despesa.id %>">

                  <span class="panel-body-font" id="despesa-<%= despesa.id %>-valor"><%= formatted_decimal(despesa.valor) %></span>
                  <input
                    type="text"
                    class="form-control edit-valor-input"
                    data-despesa-id="<%= despesa.id %>"
                    value="<%= formatted_decimal(despesa.valor) %>"
                    style="display: none;"
                  >
                </div>
                <div class="col-md-3 edit-valor-btn" data-despesa-id="<%= despesa.id %>">
                  <span class="panel-body-font" id="despesa-<%= despesa.id %>-date"><%= formatted_date(despesa.date) %></span>
                  <input
                    type="date"
                    class="form-control edit-date-input"
                    data-despesa-id="<%= despesa.id %>"
                    value="<%= despesa.date %>"
                    style="display: none;"
                  >
                </div>
                <div class="col-md-3 text-center">
                  <input type="checkbox" <%= despesa.repeating ? 'checked' : '' %> disabled>
                  <%#= link_to 'Show', despesa, class: 'btn btn-sm btn-info' %>
                  <button class="btn btn-sm btn-success update-valor-btn" data-despesa-id="<%= despesa.id %>" style="display: none;">
                    <i class="fas fa-check"></i>
                  </button>
                  <button class="btn btn-sm btn-primary cancel-update-btn" data-despesa-id="<%= despesa.id %>" style="display: none;">
                    <i class="fas fa-close"></i>
                  </button>
                  <!-- <button class="btn btn-sm btn-info edit-valor-btn" data-despesa-id="<%= despesa.id %>">Edit</button> -->
                  <%#= link_to 'Edit', edit_despesa_path(despesa), class: 'btn btn-sm btn-primary' %>
                  <%= link_to despesa, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger', style: 'display: none;' do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="panel-body">
            <div class="new-despesa" style="display: none;">
              <%= form_with(model: Despesa.new, url: add_despesa_despesas_path, remote: true) do |form| %>
                <div class="input-group">
                  <%= form.text_field :descricao, value: despesas.last.descricao, class: 'form-control', required: true %>

                  <%= form.text_field :valor, value: despesas.last.valor, class: 'form-control', required: true %>
                  <%= form.date_field :date, value: despesas.last.date, class: 'form-control', required: false %>
                  <%= form.select(:categoria_id, Categoria.all.map { |c| [c.name.capitalize, c.id] }, {}, value: despesas.last.categoria, class: 'form-control', required: true) %>

                  <%= submit_tag "Save", class: "btn btn-success" %>
                </div>
              <% end %>
            </div>
            <div class="row">
              <div class="col-md-3"><b class="panel-body-font ml-3">Total: </b></div>
              <div class="col-md-3">
                <b class="panel-body-font total-value"><%= formatted_decimal(despesas.sum(&:valor)) %></b>
              </div>
              <div class="col-md-6">
                <button class="btn btn-sm btn-success add-despesa-btn" style='line-height: 1; padding: 3px;'>
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<h3 class="total-spent text-center" style="margin-top: 10px;">Total: <%=formatted_decimal(@total) %>
  <span style="<%=positive_negative_style(@difference)%>">
    <% if @difference.positive? %>
      <i class="fa-solid fa-arrow-up" style="color: #f41a1a;"></i>
    <% else %>
      <i class="fa-solid fa-arrow-down" style="color: #16c533;"></i>
    <% end %>
    <%= sprintf("%+.2f", @difference)%> compared to last month
  </span>
</h3>

<br>

<% Delayed::Job.where("run_at > ?", Time.now).each do |job| %>
  <% handler = YAML.load(job.handler) %>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-1">
        <%= job.id %>
      </div>
      <div class="col-md-3">
        <%= handler.method_name %>
      </div>
      <div class="col-md-3">
        <%= job.run_at %>
      </div>
      <div class="col-md-3">
        <%= Despesa.find_by(id: handler.args.first)&.descricao %>
      </div>
      <div class="col-md-2">
        <%= button_to 'Run Now', run_delayed_job_path(job.id), method: :post, remote: true, class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<% end %>

<%= link_to new_despesa_path, class: 'btn btn-success spendings-button' do %>
  <%=t('menu.new_despesa')%> <i class="fas fa-plus"></i>
<% end %>

<%= stylesheet_link_tag 'index', media: 'all' %>

<%= javascript_pack_tag 'index', defer: true %>

