<div class="container my-5">
  <div class="row">
    <!-- Sidebar Menu -->
    <%= render 'profile_sidebar' %>

    <div class="col-md-9">
      <div class="card mb-4">
        <h4 style="padding: 30px 30px 0px 30px;"><%=t('menu.configurations')%></h4>
        <div class="card-body" style="padding: 40px;">
          <%= form_with url: change_locale_settings_path, method: :patch, local: true, id: 'locale-switcher-form' do |form| %>
            <div class="language" role="radiogroup" aria-labelledby="language-switcher1">
              <h6 id="language-switcher1">Language</h6>
              <div class="language__container--left language__container--en">
                <input class="language__control" type="radio" id="language1-1" name="locale" value="en"
                <%= 'checked' if session[:locale] == 'en' %> > 
                <label class="language__label" for="language1-1">
                  EN
                </label>
              </div>
              <div class="language__container--right language__container--pt">
                <input class="language__control" type="radio" id="language1-2" name="locale" value="pt-BR"
                <%= 'checked' if session[:locale] == 'pt-BR' %> >
                <label class="language__label" for="language1-2">
                  PT
                </label>
              </div>
            </div>
          <% end %>
          <br>
          <hr>
          <%= form_with url: change_currency_settings_path, method: :patch, local: true, id: 'currency-form' do |form| %>
            <div class="panel-color-selection mt-4">
              <h6>Select Currency</h6>
              <div class="d-flex justify-content-between">
                <div class="field">
                  <%= form.select :currency, options_for_select(currency_options, selected: current_user&.user_configuration&.currency), {}, class: "form-control" %>
                </div>
              </div>
            </div>
          <% end %>
          <hr>
          <%= form_with url: change_panel_color_settings_path, method: :patch, local: true, id: 'panel-color-form' do |form| %>
            <div class="panel-color-selection mt-4">
              <h6>Select Panel Background Color</h6>
              <div class="d-flex justify-content-between">
                <% ['bg-1', 'bg-2', 'bg-3', 'bg-4'].each do |color_class| %>
                  <div class="color-swatch <%= color_class %> <%= 'selected' if current_user.user_configuration&.panel_color == color_class %>">
                    <h4 class="panel-title text-center" style="color: white;">
                      Category
                    </h4>
                    <%= form.radio_button :panel_color, color_class, checked: (current_user.user_configuration&.panel_color == color_class), class: 'd-none', id: "panel_color_#{color_class}" %>
                    <label for="panel_color_<%= color_class %>" class="swatch-label"></label>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <hr>
          <%= form_with url: change_ordering_settings_path, method: :patch, local: true, id: 'ordering-form' do |form| %>
            <div class="mt-4">
              <div class="d-flex justify-content-between">
              <div>
                <h6><%=t('settings.order_header')%></h6>
                <p><%=t('settings.order_text')%></p>
              </div>
              <div class="d-flex flex-column ms-auto">
                <div>
                  <%= radio_button_tag :order, 'asc', current_user.user_configuration&.order == 'asc', id: 'order_asc', class: 'form-check-input' %>
                  <%= label_tag :order_asc, t('settings.asc'), class: 'form-check-label' %>
                </div>
                <div>
                  <%= radio_button_tag :order, 'desc', current_user.user_configuration&.order == 'desc', id: 'order_desc', class: 'form-check-input' %>
                  <%= label_tag :order_desc, t('settings.desc'), class: 'form-check-label' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <hr>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  document.querySelectorAll('input[name="locale"], input[name="panel_color"], input[name="order"]').forEach(function(radio) {
    radio.addEventListener('change', function() {
      if (radio.name === "locale") {
        document.getElementById('locale-switcher-form').submit();
      } else if (radio.name === "panel_color") {
        document.getElementById('panel-color-form').submit();
      } else if (radio.name === "order") {
        document.getElementById('ordering-form').submit();
      }
    });
  });

  document.querySelector('select[name="currency"]').addEventListener('change', function() {
    document.getElementById('currency-form').submit();
  });
</script>