<!DOCTYPE html>
<html>
  <head>
    <title>ControleFinancas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand text-white" href="#"><i class="fa fa-graduation-cap fa-lg mr-2"></i>FINANCE CONTROL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nvbCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pl-1">
            <%= link_to despesas_path, class: "nav-link" do %>
              <i class="fa fa-th-list fa-fw mr-1"></i><%= t('menu.spendings') %>
            <% end %>
          </li>
          <% if user_signed_in? %>
          
            <li class="nav-item pl-1">
              <%= link_to relatorio_path, class: "nav-link" do %>
                <i class="fa fa-info-circle fa-fw mr-1"></i><%= t('menu.reports') %>
              <% end %>
            </li>
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user fa-fw mr-1"></i><%= current_user.email %>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <%= link_to t('menu.edit_profile'), edit_user_registration_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to t('menu.settings'), settings_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to t('menu.logout'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>

          <% else %>

            <li class="nav-item pl-1">
              <%= link_to t('menu.signup'), new_user_registration_path, class: "nav-link" %> 
            </li>
            <li class="nav-item pl-1">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>

          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!--# Navbar #-->
</header>

<div class="container">
  <body>
		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>
    <%= yield %>
  </body>
</div>

<!--- Footer --->
	<footer>
		<div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
						<div class="card bg-secondary border-0">
							<div class="card-body text-light text-center">
								<h5 class="card-title text-white display-4" style="font-size:30px">Gabriel Sena</h5>
							<p class="d-inline lead">Finance Control © 2023<br>
							<a href="#" class="text-light d-block lead">Finance Control</a>
							</p>
	
							</div>
						</div>
					</div>
					
					<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
						<div class="card bg-secondary border-0">
							<div class="card-body text-center">
								<h5 class="card-title text-white display-4" style="font-size:30px">Contato</h5>
								<a class="text-light d-block lead" style="margin-left: -20px" href="#"><i class="fa fa-phone mr-2"></i>+55 (21) 99537 0000</a>
								<a class="text-light d-block lead" href="#"><i class="fa fa-envelope mr-2"></i>gabrieloddone@gmail.com</a>
							</div>
						</div>
					</div>
					
					<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
						<div class="card bg-secondary border-0">
							<div class="card-body text-center">
							<h5 class="card-title text-white display-4" style="font-size:30px">Sosyal Medya</h5>
					
									<a class="text-light" href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>
								
									<a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>
								
									<a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
								
									<a class="text-light" href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
								
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</footer>

</html>
